body {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 600px;
}
span {
    font-weight: 700;
}
header, footer {
    font-family: 'EB Garamond', serif;
    background-color: #2cbdb4;
    padding: 0.5rem;
    width: 500px;
    align-items: center;
    margin-left: 20px;
}
header {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    display: flex;
    max-width: 500px;
    max-height: 200px;
}
image {
    display: inline;
    padding-left: 0.5rem;
}
h1 {
    font-family: 'Calistoga', cursive;
    display: inline;
    margin-left: 50px;
    text-align: justify;
}
.copywrite {
    margin-left: 100px;
}
.lastupdated {
    margin-left: 150px;
}
ul {
    font-weight: 700;
}